/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  background: #111;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;

  /* Disable text selection */
  user-select: none;
  -webkit-user-select: none;

  /* Disable image dragging */
  -webkit-user-drag: none;

  cursor: default;
}

/* Prevent selection everywhere */
img, svg {
  pointer-events: none;
}

/* Enable interaction where needed */
button, input, textarea,canvas {
  pointer-events: auto;
  user-select: auto;
}


/* Scrollbars (PC app style) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
