.timeline-section {
    width: 100vw;
    display: flex;
    justify-content: start;
    background-color: #000;
    border-top: 1px solid #222;
}

.files {
    width: 200px;
    height: 190px;
    border-right: 1px solid #222;

}

.timeline-title {
    height: 30px;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #222;
}

.add-image {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #4b5977;
    color: white;
    border: 1px solid #222;
    cursor: pointer;
}

.add-image:hover {
    background-color: #586c98;
}

.add-image:active {
    scale: 0.95;
}

.assets-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
}

.assest {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #111;
    gap: 10px;
    margin-top: 5px;
    cursor: grab;
    overflow: hidden;
}

.assest img {
    width: 30px;
    flex-shrink: 0;
}

.assest .asset-title {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}


.timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100vw - 200px);
    height: 190px;
}

.timeline-head {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #222;
    background-color: #111;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.timeline-btns {
    background-color: #1b1c1d;
    color: white;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.timeline-btns:hover {
    background-color: #252625;
}

.timeline-btns:active {
    scale: 0.96;
}

.frames-btn {
    height: 22px;
    width: 120px;
    margin-left: 10px;
    gap: 5px;

}

.timeline-btns img {
    height: 20px;
}




.timeline-playback-frame {
    position: absolute;
    bottom: 2px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 26px;
    padding: 0 6px;
    font-family: system-ui, sans-serif;
    font-size: 12px;
    color: #ccc;
}

.play-frame {
    width: 62px;
    height: 24px;
    background: #000;
    border: 1px solid #333;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    outline: none;
}

.play-frame.current:focus {
    border-color: #ff1133;
}

.play-frame.total {
    opacity: 0.6;
    cursor: default;
}

.frame-separator {
    color: #888;
    font-size: 12px;
    user-select: none;
}

.timeline-playback-frame select {
    width: 62px;
    height: 24px;
    background: #000;
    border: 1px solid #333;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 0 18px 0 6px;
}
.timeline-playback-frame select:focus {
    border-color: #ff1133;
}




.timeline-main-section {
    display: flex;
    position: relative;
}


.timeline-main {
    margin-top: -10px;
    width: calc(100vw - 200px);
    height: 160px;
    background-color: #000;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.frames {
    display: flex;
    align-items: center;
    height: 15px;
    background-color: #111;
    border-bottom: 1px solid #222;
}

.frame {
    font-size: 10px;
    width: 30px;
    border-right: 1px solid #222;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tracks {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    position: relative;
}

.track {
    width: 100px;
    height: 15px;
    background-color: #111;
    margin-bottom: 5px;
    position: relative;
}

.frame_key {
    width: 30px;
    height: 15px;
    background-color: #e49d23;
    position: absolute;
    border-right: 1px solid #222;
    cursor: pointer;
}

.ctrl {
    width: 10px;
    height: 140px;
    position: absolute;
    top: -10px;
    z-index: 1002;
    cursor: move;
}

.ctrlHead {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #e44a23;
}

.ctrlTail{
    height: 140px;
    width: 4px;
    background-color: #e44a23;
    margin-left: 3px;
}

#stop-btn{
    display: none;
}

.selectedFrame{
    border: 1px solid #2a46e9;
}