.tools{
    height: 100%;
    width: 50px;
    background-color: #000;
    padding: 10px 0;
    border-right: 1px solid #222;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tools::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.tool{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tool:hover{
    background-color: #1951c1;
}

.active{
    background-color: #1951c1;
}